<html>
<head>

</head>

<body>

  <input type="text" name="title" />
  <input type="text" name="priority" />

 <button id="btnSave">Save</button>

</body>


</html>

<script src="main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
